/* .inputContainer {
    margin-bottom: 64px;
} */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.input::placeholder {
  font-size: 18px;
  color: #bcbcbc;
}

.inputTitle {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 12px;
}

.input {
  border: 1px solid #d9d9d9;
  border-radius: 18px;
  padding-left: 20px;
  font-size: 22px;
  width: 100%;
}

.errorContainer {
  position: relative;
}

.inputError {
  position: absolute;
  left: 0;
  top: 8px;
  font-size: 16px;
  font-weight: 300;
  color: #e71e1e;
}
