.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  padding: 25px 0;
  color: #fff;
}
