.platform {
  padding: 75px 0;
  background-color: #fcfcfc;
}

.container {
  width: 900px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 64px;
  text-align: center;
}

.platformInner {
}

.platformBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 96px;
}

.platformBlockButton {
}

.platformItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #d9d9d9;
  cursor: pointer;
}

.platformActiveItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 2px solid #44e497;
  cursor: pointer;
}

.platformImage {
  width: 100px;
  height: 100px;
}

.errorMessage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 20px;
  font-size: 16px;
  font-weight: 300;
  color: #e71e1e;
}

.errorContainer {
  position: relative;
}

@media (max-width: 440px) {
  .platform {
    padding-top: 36px;
    flex: 1;
  }
  .container {
    width: 100%;
    padding: 0 24px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 18px;
  }
  .platformInner {
    width: 100%;
  }
  .platformBlock {
    margin-top: 18px;
    margin-bottom: 36px;
  }
  .checkboxImage {
    width: 41px;
    height: 41px;
  }
  .errorMessage {
    top: 12px;
    font-size: 14px;
    text-align: center;
  }
}
