.header {
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(68.2deg, rgb(21, 13, 107) 21.1%, rgb(188, 16, 80) 130.5%);
  background-size: cover;
}

.logo {
  width: 115px;
  height: 41px;
}

@media (max-width: 440px) {
  .header {
    padding: 16px 0;
  }
  .logo {
    width: 98px;
    height: 35px;
  }
}