.footer {
    width: 100%;
    padding: 50px 0;
}

.container {
    margin: 0 auto;
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footerText {
    font-size: 22px;
}