.fileBlock {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  cursor: pointer;
  padding: 25px;

  border: 1px solid #d9d9d9;
}

.imageBlock {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.fileInput {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* width: 0.1px;
    height: 0.1px; */
}

.label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

.fileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}


@media (max-width: 440px) {
  .imageBlock {
    width: 100px;
    height: 100px;
  }
  .fileBlock {
    width: 95px;
    height: 95px;
  }
  .label {
    font-size: 14px;
  }
}