/* .facebookWrapper {
  transform: scale(0.82);
} */

.facebookWrapper:nth-child(1) {
  left: 24px;
}

.facebookWrapper:nth-child(2) {
}

.facebookWrapper:nth-child(3) {
  right: 24px;
}

.facebookBlock {
  border: 1px solid #dddfe2;
  border-radius: 3px;
  width: 500px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
  0 1px 5px 0 rgb(0 0 0 / 20%);
}

.facebookHeader {
  padding: 12px 16px 12px 12px;
  display: flex;
  justify-content: space-between;
}

.facebookHeaderBlock {
  display: flex;
  align-items: center;
}

.facebookLogo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin-right: 8px;
}


.facebookHeaderTitle {
  font-size: 17px;
  font-weight: 600;
  /*margin-bottom: 5px;*/
  color: #282828;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookHeaderSubtititle {
  font-size: 16px;
  color: #65676b;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookHeaderButton {
  display: flex;
  column-gap: 4px;
  padding: 20px;
}

.facebookHeaderButtonDot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #65676b;
}

.facebookAdTitle {
  padding: 4px 16px 16px 16px;
  color: #050505;
  font-size: 17px;
  font-weight: 400;
  word-break: break-word;
  line-height: 19px;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookImageBLock {
  width: 500px;
  height: 300px;
}

.facebookImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translateX(-1px);
}

.facebookInfoInner {
  background-color: #f0f2f5;
  padding: 12px 16px;
  border-bottom: 1px solid #dddfe2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facebookInfoBlock {
  overflow: hidden;
  width: 75%;
}

.facebookInfoUrl {
  color: #65676b;
  font-size: 17px;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookInfoTitle {
  font-size: 20px;
  font-weight: 600;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookInfoSubtitle {
  display: block;
  color: #65676b;
  font-size: 15px;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: break-word;
  overflow: hidden;
}

.facebookInfoButtonBlock {
  display: flex;
  justify-content: flex-end;
}

.facebookInfoButton {
  padding: 0 12px;
  background-color: #e4e6eb;
  border-radius: 6px;
  border: none;
  height: 36px;
  font-size: 17px;
  font-weight: 600;
  color: #050505;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.facebookButtonInner {
  padding: 6px 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faceBookButtonBlock {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  height: 32px;
}

.facebookButtonBlockText {
  font-weight: 700;
  color: #616770;
  font-size: 16px;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.instagramWrapper {
  /* transform: scale(0.85); */
  /*position: absolute;*/
}

.instagramWrapper:nth-child(1) {
  left: 40px;
}

.instagramWrapper:nth-child(2) {
}

.instagramWrapper:nth-child(3) {
  right: 40px;
}

.instagramBlock {
  border: 1px solid rgb(219, 219, 219);
  border-radius: 8px;
  width: 470px;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
  0 1px 5px 0 rgb(0 0 0 / 20%);
}

.instagramHeader {
  padding: 8px 12px;
}

.instagramHeaderInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.instagramHeaderBlock {
  display: flex;
  /* max-width: 85%; */
  align-items: center;
}

.instagramHeaderLogo {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

.instagramHeaderInfo {
  margin-left: 10px;
}

.instagramHeaderTitle {
  font-size: 17px;
  line-height: 18px;
  font-weight: 600;
  color: rgb(38, 38, 38);
  font-family: -apple-system, system-ui, Arial, sans-serif;
  margin-bottom: 3px;
}

.instagramHeaderSubtitle {
  color: #282828;
  font-size: 15px;
  margin-top: -2px;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.instagramHeaderButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 4px;
}

.instagramHeaderButtonDot {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #282828;
}

.instagramImageBlock {
  width: 470px;
  height: 270px;
}

.instagramImage {
  height: 100%;
  object-fit: cover;
  width: 100%;
  transform: translateX(-1px);
}

.instagramGoalBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e9eaeb;
  padding: 10px 10px 8px 10px;
}

.instagramGoalTitle {
  color: #282828;
  font-size: 16px;
  font-weight: 700;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.instagramGoalIcon {
  color: #282828;
  font-size: 14px;
  font-weight: 700;
}

.instagramInfoInner {
  padding: 4px 16px 16px 16px;
}

.instagramInfoButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.instagramLikeButtonBlock {
  display: flex;
  align-items: center;
  column-gap: 8px;
  margin-bottom: 8px;
}

.instagramSaveButton {
}

.instagramInfoBlock {
}

.instagramViews {
  font-weight: 700;
  font-size: 16px;
  color: #282828;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.instagramInfo {
  font-family: -apple-system, system-ui, Arial, sans-serif;
  font-size: 17px;
}

.instagramUsername {
  font-size: 17px;
  font-weight: 600;
  color: #282828;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.instagramComments {
  color: #666;
  margin-top: 8px;
  font-family: -apple-system, system-ui, Arial, sans-serif;
}

.googleBlock {
  padding: 12px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
  0 1px 5px 0 rgb(0 0 0 / 20%);
  width: 650px;
  cursor: pointer;
}

.googleSupTitleBlock {
  display: flex;
  column-gap: 12px;
}

.googleSupTitleAd {
  font-weight: 700;
  font-size: 17px;
  color: #202124;
  font-family: 'Roboto', sans-serif;
}

.googleSupTitle {
  font-size: 18px;
  color: #202124;
  font-family: 'Roboto', sans-serif;
}

.googleTitleBlock {
  column-gap: 7px;
}

.googleTitle {
  color: #1a0dab;
  font-size: 24px;
  line-height: 26px;
  word-break: break-word;
  margin: 3px 0;
  font-family: Roboto, arial, sans-serif;
  display: inline;
}

.googleDescriptionText {
  color: #4d5156;
  font-size: 18px;
  line-height: 22px;
  font-family: Roboto, arial, sans-serif;
}

.videoWrapper {
  position: relative;
  width: 376px;
  height: 667px;
  background-color: #000;
}

.tiktokWrapper:nth-child(2) {
  margin: 40px 0px 40px 0;
}

.pauseBlock {
  width: 120px;
  height: 120px;
  background-color: rgba(15, 15, 15, 0.6);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
}

.pauseBlockItem {
  background-color: rgba(240, 240, 240, 0.9);
  height: 70px;
  width: 10px;
  border-radius: 8px;
}

.video {
  z-index: 1;
  position: absolute;
  top: 128px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 376px;
  height: 376px;
}

.tiktokBlock {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 12px 8px 12px;
}

.tiktokVideo {
  width: 100%;
  height: 667px;
}

.tiktokHeader {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  column-gap: 24px;
  margin-top: 10px;
}

.tiktokHeaderTitle {
  font-size: 17px;
  font-weight: 600;
  color: #fff;
}

.tiktokInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.tiktokButtonsBlock {
  display: flex;
  justify-content: flex-end;
}

.tiktokButtons {
  z-index: 999;
}

.tiktokLogoBlock {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.tiktokLogoImage {
  width: 49px;
  height: 49px;
  border-radius: 50%;
}

.tiktokLogoButton {
  width: 24px;
  justify-self: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fe2c55;
  right: 50%;
  transform: translateX(50%);
}

.tiktokLogoButtonText {
  color: #fff;
}

.tiktokButtonBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60px;
  margin-bottom: 16px;
  /* z-index: 999; */
}

.tiktokLikeButton {
  width: 40px;
  height: 33px;
}

.tiktokCommentIcon {
  width: 40px;
  height: 33px;
}

.tiktokShareIcon {
  width: 40px;
  height: 40px;
}

.tiktokButtonIcon {
  color: #fff;
}

.tiktokButtonText {
  font-size: 13px;
  color: #fff;
}

.tiktokFooter {
  /* display: flex;
  justify-content: space-between; */
  backface-visibility: hidden;
}

.tiktokFooterBlock {
  width: 80%;
}

.tiktokUsername {
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #fff;
}

.tiktokTags {
  font-size: 15px;
  margin-bottom: 5px;
  color: #fff;
}

.tiktokAd {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 16px;
  border-radius: 2px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.tiktokAdText {
  color: #fff;
  font-size: 12px;
}

.tiktokMusic {
  font-size: 15px;
  margin-bottom: 12px;
  font-weight: 400;
  color: #fff;
}

.footerControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -20px;
}

.footerControlsBlock {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.footerControlsButton {
  background-color: #03a4ee;
  width: 70%;
  height: 25px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 12px;
}

.footerButtonText {
  font-size: 14px;
  color: #fff;
  font-weight: 700;
}

.footerButtonIcon {
  color: #fff;
  align-self: center;
}

.tiktokDisc {
  align-self: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 5px solid #282828;
  transform: translateY(-10px);
  /* transform: rotate(360deg); */
  animation: infinite all 1s;
}

.chooseBlock {
  display: flex;
  justify-content: center;
}

.chooseButton {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  margin-top: 12px;
  background-color: #fff;
  padding: 8px;
  border-radius: 8px;
}

.adchooseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid #000;
  margin: 0 auto;
  margin-top: 24px;
}

/* .adchooseButton:active {
  border: 3px solid #33d684;
} */

.adchooseCircle {
  opacity: 0;
  background-color: #000;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.adchooseButton:active .adchooseCircle {
  opacity: 1;
  background-color: #33d684;
}

@media (max-width: 440px) {
  .instagramWrapper {
    transform: scale(0.85);
  }
  .facebookWrapper {
    transform: scale(0.8);
  }
  .googleWrapper {
    transform: scale(0.6);
  }
  /* .instagramWrapper:nth-child(2) {
    margin: -50px 0;
  }
  .instagramWrapper:nth-child(3) {
    margin: 10px 0;
  } */

  .facebookWrapper:nth-child(2) {
    /* margin: -80px 0; */
  }

  .googleWrapper {
    /* transform: scale(0.6); */
    /* margin-top: 30px; */
  }

  .googleWrapper:nth-child(1) {
    /* margin-top: -10px;
    margin-bottom: 25px; */
  }

  .googleWrapper:nth-child(2) {
    /* margin: -130px 0; */
  }

  /* .googleWrapper:nth-child(3) {
    margin-top: 20px;
  } */

  .tiktokWrapper {
    /* transform: scale(0.94); */
  }

  .tiktokWrapper:nth-child(2) {
    /* margin-bottom: 50px; */
  }
}
